$background: linear-gradient(transparent, #000),
linear-gradient(90deg, #C074B2, #8AB5E8);


@import './App.css';
@import './index.css';
@import './bootsrap.css';
@import './Login.scss';
@import './User.scss';
@import './Home.scss';
@import './Playlist.scss';
@import './DetailPage.scss';

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}

button:focus {outline:0;}


