.login {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    color: white;
    font-size: calc(20px + 3.5vw);
    margin-bottom: 10px;
}
